/* Reset CSS completo */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remover estilos padrões para botões, inputs e selects */
button, input, select, textarea {
    margin: 0;
    line-height: inherit;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    color: inherit;
    appearance: none;
    box-shadow: none;
}

/* Remover sublinhado de links por padrão */
a {
    text-decoration: none;
    color: inherit;
}

/* Garantir que imagens não ultrapassem seus contêineres */
img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/* Box-sizing para garantir que padding e border sejam incluídos nas dimensões dos elementos */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Estilo para o container dos botões do DataTables */
.dt-buttons {
    margin: 10px 0;
}

/* Estilo para cada botão */
.dt-button {
    background-color: #007bff; /* Cor de fundo azul */
    color: #ffffff; /* Cor do texto branca */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transições suaves */
}

/* Estilo para o botão ao passar o mouse (hover) */
.dt-button:hover {
    background-color: #0056b3; /* Cor de fundo mais escura no hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilo para o botão ativo */
.dt-button:active {
    background-color: #004494; /* Cor de fundo ainda mais escura ao clicar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra reduzida ao clicar */
}

/* Estilo específico para o botão de visibilidade das colunas */
.dt-button.buttons-colvis {
    background-color: #795548; /* Cor de fundo verde */
}

/* Estilo para o botão de visibilidade das colunas ao passar o mouse */
.dt-button.buttons-colvis:hover {
    background-color: #2e1a17; /* Cor de fundo verde escura no hover */
}

/* Estilo específico para os botões de exportação para Excel e PDF */
.dt-button.buttons-html5 {
    background-color: #795548; /* Cor de fundo amarela */
}

/* Estilo para os botões de exportação ao passar o mouse */
.dt-button.buttons-html5:hover {
    background-color: #2e1a17; /* Cor de fundo amarela escura no hover */
}

/* Estilo específico para o botão de impressão */
.dt-button.buttons-print {
    background-color: #795548; /* Cor de fundo vermelha */
}

/* Estilo para o botão de impressão ao passar o mouse */
.dt-button.buttons-print:hover {
    background-color: #2e1a17; /* Cor de fundo vermelha escura no hover */
}
