{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container">
        <div class="logo-container">
            <img src="{% static 'imgs/djangol3.png' %}" alt="Logo" class="logo">
        </div>
        <div class="row">

            <div class="col-md-6 ">

                <button type="button" class="btn btn-primary mb-3" onclick="location.href='{% url 'iniciar_transmissao' %}'">Iniciar Transmissão</button>
                <h2 class="table-title">Partidas Já Transmitidas</h2>
                <table id="partidasTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Time Casa</th>
                            <th>Placar Casa</th>
                            <th>Placar Visitante</th>
                            <th>Time Visitante</th>
                            <th>Competição</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partida in partidas %}
                            <tr>
                                <td>{{ partida.time_casa.nome }}</td>
                                <td>{{ partida.placar_casa }}</td>
                                <td>{{ partida.placar_visitante }}</td>
                                <td>{{ partida.time_visitante.nome }}</td>
                                <td>{{ partida.competicao.nome }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>Não há partidas transmitidas até o momento.</td>
                                <td>Não há partidas transmitidas até o momento.</td>
                                <td>Não há partidas transmitidas até o momento.</td>
                                <td>Não há partidas transmitidas até o momento.</td>
                                <td>Não há partidas transmitidas até o momento.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Coluna para a Tabela de Times -->
            <div class="col-md-6">
                <!-- Botão para Criar Time -->
                <button type="button" class="btn btn-primary mb-3" onclick="location.href=''">Criar Time</button>
                <h2 class="table-title">Times</h2>
                <table id="timesTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for time in times %}
                            <tr>
                                <td>{{ time.nome }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>Não há times cadastrados.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
















    <style>
        /* Estilo para centralizar o logo e adicionar margem */
        .logo-container {
            margin-bottom: 30px; /* Adiciona espaçamento abaixo do logo */
        }

        .logo {
            max-height: 200px;
            display: block;
            margin: 0 auto; /* Centraliza a imagem horizontalmente */
        }

        /* Estilo para o título da página */
        .page-title {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        /* Estilo para os títulos das tabelas */
        .table-title {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 15px;
            color: #333;
        }

        /* Ajuste adicional para layout */
        .container {
            padding-top: 20px;
        }
    </style>
{% endblock %}

