{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <div class="logo-container">
        <img src="{% static 'imgs/djangol3.png' %}" alt="Logo" class="logo">
    </div>
    <div class="row">

        <!-- Coluna de Partidas Transmitidas -->
        <div class="col-md-6">
            <button type="button" class="btn btn-primary mb-3" onclick="location.href='{% url 'selecionar_partida' %}'">Iniciar Transmissão</button>
            <h2 class="table-title">Partidas Já Transmitidas</h2>
            <table id="partidasTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Time Casa</th>
                        <th>Placar Casa</th>
                        <th>Placar Visitante</th>
                        <th>Time Visitante</th>
                        <th>Competição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partida in partidas %}
                        <tr>
                            <td>
                                <a href="{% url 'time_detail' partida.time_casa.id %}">
                                    {{ partida.time_casa.nome }}
                                </a>
                            </td>
                            <td>{{ partida.placar_casa }}</td>
                            <td>{{ partida.placar_visitante }}</td>
                            <td>
                                <a href="{% url 'time_detail' partida.time_visitante.id %}">
                                    {{ partida.time_visitante.nome }}
                                </a>
                            </td>
                            <td>{{ partida.competicao.nome }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">Não há partidas transmitidas até o momento.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Coluna de Times -->
        <div class="col-md-6">
            <button type="button" class="btn btn-primary mb-3" onclick="location.href='{% url 'criar_time' %}'">Criar Time</button>
            <h2 class="table-title">Times</h2>
            <table id="timesTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Jogadores</th>
                        <th>Partidas Transmitidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for time in times %}
                        <tr>
                            <td>
                                <a href="{% url 'time_detail' time.id %}">
                                    {{ time.nome }}
                                </a>
                            </td>
                            <td>{{ time.total_jogadores }}</td>
                            <td>{{ time.total_partidas }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>Não há times cadastrados.</td>
                            <td>Não há times cadastrados.</td>
                            <td>Não há times cadastrados.</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
</div>

<style>
    /* Estilo para centralizar o logo e adicionar margem */
    .logo-container {
        margin-bottom: 30px; /* Adiciona espaçamento abaixo do logo */
    }

    .logo {
        max-height: 200px;
        display: block;
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
    }

    /* Estilo para o título da página */
    .page-title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    /* Estilo para os títulos das tabelas */
    .table-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #333;
    }

    /* Ajuste adicional para layout */
    .container {
        padding-top: 20px;
    }

    /* Centralizar texto vazio */
    .text-center {
        text-align: center;
    }
</style>

{% endblock %}
